__pycache__/
*.py[cod]
*$py.class
*.pyc

# Environments
.env
.venv
env/
venv/
ENV/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Temporary & Chrome runtime data
build_static.py
*.log
app/services/.chrome_profile/
.chrome_profile/
